################################################
# Environment Setting Hyper-parameters.  #
################################################
seed: 123
verbose: true
jax_enable_x64: true
xla_preallocate: false


################################################
# Total Energy Minimization Hyper-parameters.  #
################################################
crystal: diamond1
crystal_xyz_file: null

# Planewave hyperparameters
# g_grid_mask_method can be either "cubic" or "spherical".
# For "cubic", the cutoff cannot be assigned, but will be estimated.
# Only for "spherical" method, the cutoff_energy argument is valid.
g_grid_mask_method: "spherical"
cutoff_energy: 100
grid_sizes: 32
k_grid_sizes: 1
occupation: gamma
smearing: 0.01 # only valid when occupation is fermi dirac
ewald_args:
  ewald_cut: 20000.0
  ewald_eta: 0.1

# Xc functional hyperparameters.
xc: lda_x

# Optimizer hyperparamters
optimizer: yogi
optimizer_args:
  learning_rate: 0.01
epoch: 10000
convergence_condition: 1.0e-06


################################################
# Band Structure Calculation Hyper-parameters. #
################################################
band_structure_epoch: 5000
k_path: LGXL
k_path_file: null
k_path_fine_tuning: true
k_path_fine_tuning_epoch: 200
num_kpoints: 60
num_unoccupied_bands: 4


################################################
# Parallelism Setting                          #
################################################
enable_spmd: True
